
<div id="social-signin-links">
  <% if (!spree_current_user || !spree_current_user.user_authentications) && Spree::AuthenticationMethod.active_authentication_methods? %>
    <h4><%= Spree.t(:sign_in_through_one_of_these_services) %></h4>
  <% end %>
    <% if Spree::AuthenticationMethod.available_for(@spree_user).any?{|a| a.provider == "facebook"} %>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5&appId=543296382496713";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="true" data-auto-logout-link="false"></div>

  <% end %>
      <% if Spree::AuthenticationMethod.available_for(@spree_user).any?{|a| a.provider == "google_oauth2"} %>
    <a href="/users/auth/google_oauth2" id="google_sign_in_button" tabindex="4">
  <img src="../../assets/images/btn_google_signin_dark_focus_web@2x.png" alt="Sign in with Google"></a>

  <% end %>
  <% if Spree::AuthenticationMethod.available_for(@spree_user).any?{|a| a.provider == "twitter"} %>
  <a href="/users/auth/twitter" id="twitter_sign_in_button" name="" tabindex="4">   <img src="../../assets/images/sign-in-with-twitter-gray.png" alt="Sign in with Twitter">
  </a>
  
  <% end %>
</div>
