
<div id="social-signin-links">
  <% if (!spree_current_user || !spree_current_user.user_authentications) && Spree::AuthenticationMethod.active_authentication_methods? %>
    <h4><%= Spree.t(:sign_in_through_one_of_these_services) %></h4>
  <% end %>
    <% if Spree::AuthenticationMethod.available_for(@spree_user).any?{|a| a.provider == "facebook"} %>
     <a href="/users/auth/facebook" id="facebook_sign_in_button" role="button" name="" class="btn btn-info" tabindex="4">
  Sign in with Facebook</a>
  <% end %>
      <% if Spree::AuthenticationMethod.available_for(@spree_user).any?{|a| a.provider == "google_oauth2"} %>
    <a href="/users/auth/google_oauth2" id="google_sign_in_button" role="button" name="" class="btn btn-info" tabindex="4">
  Sign in with Google</a>

  <% end %>
  <% if Spree::AuthenticationMethod.available_for(@spree_user).any?{|a| a.provider == "twitter"} %>
  <a href="/users/auth/twitter" id="twitter_sign_in_button" role="button" name="" tabindex="4">   <img src="../../assets/sign-in-with-twitter-gray.png" alt="Sign in with Twitter">
  </a>
  
  <% end %>
</div>
